* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    
  }
  
  .nav-container {
    display: flex;
    width: 100%;
    height: 60px;
    padding-top: 9px;
    background-color: white;
    position: fixed;
    z-index: 5;
    
  }
  
  .logo {
    width: 58px;
    height: 58px;
    margin-left: 34px;
    margin-top: -9px;
  }
  
  i {
    color: rgb(29, 29, 29);
  }
  nav > ul {
    display: flex;
    list-style: none;
    margin-left: 350px;
    margin-top: 10px;
  }
  
  nav > ul > li > a {
    color: rgb(29, 29, 29);
    text-decoration: none;
    margin-right: 60px;
    font-size: 1.05em;
  }
  
  nav > ul > li:not(:last-of-type) > a:hover{
    color: #282A35;
    margin-right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 7px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 7px;
    border-radius: 18px; 
  }
  
  nav > ul > li:last-of-type > a:last-of-type{
    display: block;
    color: rgb(29, 29, 29);
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;
    padding: 9px 10px 9px 10px;
    border-radius: 22px; 
    margin-top: -9px;
  }
  
  .welcome-container {
    background-image: url(./Images/background_in_space.gif);
    background-repeat: repeat;
    height: 88vh;
    background-position: 90% 60%, center center;
    padding-top: 86px;
    padding-bottom: 97px;
    position: relative;
  }
  
  .welcome-header {
    font-size: 4.2em;
    font-style: italic;
    margin-top: 135px;
    opacity: 0;
  }
  
  .content-details1 {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 15px;
    opacity: 0;
    color: rgb(228, 222, 222);
  }
  
  .content-details2 {
    margin-top: 25px;
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 55px;
    color: #67939b;
    opacity: 0;
  }
  
  .content-container {
    text-align: center;
    color: rgb(228, 222, 222);
  }
  
  .content-link {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 1.1em;
    font-weight: 580;
    border: 1px solid #67939b;
    background-color: #67939b;
    padding: 14px 16px 14px 16px;
    border-radius: 25px; 
  }
  
  @keyframes slideIn4 {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 1;
      transform: translateX(20%);
    }
  }
  
  .content-link:hover i {
    animation: slideIn4 1s ease infinite;
  }
  
  .planets{
    position: absolute;
    left: 50px;
    top: 300px;
    height: 200px;
    width: 200px;
    object-fit: contain;
  }
  
  .astronaut{
    position: absolute;
    left: 78%;
    top: 320px;
    height: 280px;
    width: 280px;
    object-fit: contain;
  }
  
  /* Define a class to represent elements that should animate on page load */
  /* Add animation for sliding in the h1 and p tags */
  @keyframes slideIn1 {
    from {
      opacity: 0;
      transform: translateX(-70px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideIn2 {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn3 {
    from {
      opacity: 0;
      transform: translateX(-15px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Apply animation to elements with the animate-on-load class */
  .animate-on-load1 {
    animation: slideIn1 3s ease forwards;
  }
  
  .animate-on-load2 {
    animation: slideIn2 3s ease forwards;
  }
  
  .animate-on-load3 {
    animation: slideIn3 3s ease forwards;
  }
  
  /* Define a class to represent elements that should animate on scroll */
  /* Apply animation to elements with the animate-on-scroll class when they enter the viewport */
  .animate-on-scroll1.in-viewport {
    animation: slideIn1 3s ease forwards;
  }
  
  .animate-on-scroll2.in-viewport {
    animation: slideIn2 3s ease forwards;
  }
  
  /* Define a keyframe animation named 'jump' */
  @keyframes jump {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Initial, midway, and final position is no translation */
    }
    40% {
      transform: translateY(-11px); /* Jump up at 40% */
    }
    60% {
      transform: translateY(-8px); /* Jump down at 60% */
    }
  }
  
  /* Apply the 'jump' animation to the icon element */
  .p-i {
    height: 50px; 
    width: 100%; 
    position: absolute;
    bottom: 0; 
    text-align: center; 
    line-height: 120px; 
    animation: jump 3s infinite; /* Use the 'jump' animation with a 4-second duration, and repeat indefinitely */
  }
  
  .p-i i {
   font-size: 1.2em; 
   color: #67939b; 
  }
  
  .about-container {
    background-color: #96b9c1;
    height: 80vh;
    margin-top: -10px;
  }
  
  .about-intro {
    padding-top: 70px;
    text-align: center;
    color: rgb(29, 29, 29);
  }
  
  .about-header {
    font-size: 2.35em;
    font-weight: 500;
    margin-bottom: 15px;
    opacity: 0;
  } 
  
  .about-sub {
    font-size: 1.16em;
    opacity: 0; 
  }
  
  .box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .content-box1 {
    flex: 0.6;
    height: 250px;
    margin: 60px 0px 10px 50px;
    border: 1px solid #365e67;
    background-color: #67939b;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
  }
  
  .content-box2 {
    flex: 0.6;
    margin: 60px 0 10px 30px;
    height: 250px;
    border: 2px solid #96b9c1;
    background-color: #365e67;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
  }
  
  .content-box3 {
    flex: 0.6;
    margin: 60px 50px 10px 30px;
    height: 250px;
    border: 1px solid #365e67;
    background-color: #67939b;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
  }
  
  .box-container i {
    font-size: 3.5em; 
    padding-top: 70px; 
    color: rgb(29, 29, 29);
    padding-bottom: 18px;
  }
  
  .box-p {
    color: rgb(29, 29,29);
    font-size: 1.6em;
    font-weight: 600;
    padding-bottom: 15px;
  }
  
  .box-subp {
    font-size: 0.97em;
    color: rgb(29, 29, 29);
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
    display: none;
  }
  
  .content-box1:hover, .content-box2:hover, .content-box3:hover{
    flex: 0.63;
    cursor: pointer;
  }
  
  
  .content-box1:hover i, .content-box2:hover i, .content-box3:hover i {
    font-size: 3em; 
    padding-top: 15px; 
    animation: slideIn2 1s ease forwards;
  }
  
  .content-box1:hover .box-p, .content-box2:hover .box-p, .content-box3:hover .box-p { 
    animation: slideIn2 1s ease forwards;
  }
  
  .content-box1:hover .box-subp, .content-box2:hover .box-subp, .content-box3:hover .box-subp {
    display: block;
    animation: slideIn 1s ease forwards;
  }
  
  .courses1 {
    margin-top: -5px;
    height: 75vh;
    background-color: #67939b;
    text-align:  center;
    color: rgb(29, 29, 29);
  }
  
  .course-p1 {
    padding-top: 75px;
    padding-bottom: 10px;
    font-size: 4.9em;
    font-weight: 600;
    /*font-style: italic;*/
    opacity: 0;
  }
  
  .course-p2 {
    font-size: 1.29em;
    padding-bottom: 48px;
    font-weight: 500;
    opacity: 0;
  }
  
  .course-link1 {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 1.1em;
    font-weight: 580;
    border: 1px solid #96b9c1;
    background-color: #365e67;
    /*padding: 12px 47px 12px 47px;*/
    padding: 12px 25px 12px 25px;
    border-radius: 25px; 
  }
  
  .course-link2 {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 1.1em;
    font-weight: 580;
    border: 2px solid #365e67;
    /*padding: 12px 40px 12px 40px;*/
    padding: 12px 25px 12px 25px;
    border-radius: 25px;
  }
  
  .course-link3 {
    text-decoration: none;
    color: rgb(29, 29,29);
    font-size: 1.1em;
    font-weight: 580;
    border: 1px solid #96b9c1;
    background-color: #365e67;
    /*padding: 12px 30px 12px 30px;*/
    padding: 12px 25px 12px 25px;
    border-radius: 25px; 
  }
  
  .courses2 {
    margin-top: -10px;
    height: 75vh;
    background-color: #365e67;
    text-align:  center;
    color: rgb(29, 29, 29);
  }
  
  .course-link4 {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 1.1em;
    font-weight: 580;
    border: 1px solid #96b9c1;
    padding: 12px 25px 12px 25px;
    border-radius: 25px; 
  }
  
  .course-link5 {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 1.1em;
    font-weight: 580;
    background-color: #67939b;
    /*padding: 12px 40px 12px 40px;*/
    padding: 12px 25px 12px 25px;
    border-radius: 25px;
  }
  
  .course-link6 {
    text-decoration: none;
    color: rgb(29, 29,29);
    font-size: 1.1em;
    font-weight: 580;
    border: 1px solid #96b9c1;
    /*padding: 12px 36px 12px 36px;*/
    padding: 12px 25px 12px 25px;
    border-radius: 25px;
  }
  
  .courses3 {
    height: 75vh;
    background-color: #96b9c1;
    text-align:  center;
    color: rgb(29, 29, 29);
  }
  
  .course-link7{
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 1.1em;
    font-weight: 580;
    border: 1px solid #365e67;
    background-color: #67939b;
    /*padding: 12px 35px 12px 35px;*/
    padding: 12px 25px 12px 25px;
    border-radius: 25px; 
  }
  
  .course-link8 {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 1.1em;
    font-weight: 580;
    border: 1px solid #365e67;
    background-color: #365e67;
    /*padding: 12px 43px 12px 43px;*/
    padding: 12px 25px 12px 25px;
    border-radius: 25px;
  }
  
  .course-link9 {
    text-decoration: none;
    color: rgb(29, 29,29);
    font-size: 1.1em;
    font-weight: 580;
    border: 1px solid #365e67;
    background-color: #67939b; 
    padding: 12px 25px 12px 25px;
    border-radius: 25px; 
  }
  
  /* Style for the icon */
  .icon-link {
    text-decoration: none;
    color: rgb(29, 29, 29);
    position: relative;
  }
  
  .icon-link i {
    position: absolute;
    top: 30px;
    left: 545px;
    font-size: 2em;
    border: 1px solid #365e67;
    background-color: #67939b;
    padding: 10px 12px 10px 12px;
    border-radius: 6px;
  }
  
  /* Style for the "see more" button */
  .see-more-btn {
    display: none;
    position: absolute;
    top: 30px;
    left: 373px;
    border: 1px solid #365e67;
    background-color: #67939b;
    color: rgb(29, 29, 29);
    padding: 15px 28px 15px 28px;
    white-space: nowrap;
    font-size: 1.1em;
    font-weight: 580;
    border-radius: 7px;
  }
  
  /* Show the "see more" button when hovering over the icon */
  .icon-link:hover .see-more-btn {
    display: inline-block;
  }
  
  .faqs {
    background-color: #67939b;
    height: 107vh;
    display: flex;
    color:rgb(29, 29, 29);
    align-items: center;
  }
  
  .faq-header {
    font-size: 5em;
    white-space: nowrap;
    margin-left: 5%;
    margin-top: -8%;
    color: rgb(29, 29, 29);
  }
  .wrapper {
    width: 50%;
    margin-left: 8%;  
    margin-top: -5%;
  }
  
  .container {
    background-color: #67939b;
    border: 1px solid #365e67;
    color: rgb(29, 29, 29);
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
    margin: 20px 0;  
  }
  
  .question {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .question::after {
    content: "\002B";
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
  }
  
  .question.active::after {
    transform: rotate(45deg);
  }
  
  .answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
   
  }
  
  /* Style for the icon */
  .icon-link1 {
    text-decoration: none;
    color: rgb(29, 29, 29);
    position: relative;
  }
  
  .icon-link1 i {
    position: absolute;
    top: 270px;
    left: -60px;
    font-size: 2em;
    border: 1px solid #365e67;
    background-color: #365e67;
    padding: 11px 14px 11px 14px;
    border-radius: 6px;
  }
  
  /* Style for the "see more" button */
  .see-more-btn1 {
    display: none;
    position: absolute;
    top: 270px;
    left: -218px;
    border: 1px solid #365e67;
    background-color: #365e67;;
    color: rgb(29, 29, 29);
    padding: 15px 28px 15px 28px;
    white-space: nowrap;
    font-size: 1.1em;
    font-weight: 580;
    border-radius: 7px;
  }
  
  /* Show the "see more" button when hovering over the icon */
  .icon-link1:hover .see-more-btn1 {
    display: inline-block;
  }
  
  .footer {
    /*background-image: url(./Images/background_in_space.gif);*/
    background-color: #282A35; /*#365e67;*/
    background-repeat: repeat;
    height: /*35vh;*/ 40vh;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    display: flex;
    flex-direction: row;
    gap: 8rem;
  }
  
  .footer img {
    margin-top: -13px; /*20px;*/
    width: 150px; /*80px;*/
    height: 150px; /*80px;*/
    object-fit: contain;
    margin-left: 85px; /*120px;*/
  }
  
  .footer p{
    color: #365e67; /*rgb(29, 29, 29);*/
    margin: -30px 90px 0 128px;
    font-size: 1.2em;
    font-weight: 500;
  }
  
  .footer .img-container ul{
    display: flex;
    justify-content: space-between;
    color: #96b9c1; /*rgb(29, 29, 29);*/
    margin: 25px 90px 0 150px;
    font-size: 1.1em;
  }
  
  .col-2 {
    display: flex;
    gap: 10rem;
    padding-top: 40px;
  }
  
  .col-2 ul {
    list-style-type: none;
  }
  
  .col-2 ul li {
    margin-bottom: 1.2rem;
  }
  
  .col-2 ul li a {
    color:  #96b9c1; /*rgb(29, 29, 29);*/
    font-size: 1.15em;
  }
  
  /* Media Queries */
  
  /*@media only screen and (max-width: 1400px) {
    nav > ul {
      margin-left: 250px;
    } 
  
    nav > ul > li:last-of-type > a:last-of-type{
      display: none;
      color: rgb(29, 29, 29);
      border: 1px solid rgba(0, 0, 0, 0.3);
      background-color: transparent;
      padding: 9px 10px 9px 10px;
      border-radius: 22px; 
      margin-top: -9px;
    }
    
  }*/